# Доступные для использования цвета:
# black, red, green, yellow, blue, magenta, cyan, white, gray
#
# Добавление в конце строки bold включает признак яркости

border gray white
titles black white
cursor white blue bold
text black white
quote1 green white
quote2 blue white
comment gray white
url blue white bold
header red white
statusline white black
scrollbar gray white